.form {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.form__fieldset {
  border-radius: 25px;
  border: 3px solid green;
  padding: 10px;
  background-color: hsl(120, 100%, 95%);
}

.form__legend {
  border-radius: 25px;
  color: white;
  background-color: green;
  padding: 15px;
  font-weight: 700;
  font-size: 20px;
}

.form__label {
  width: 100%;
  font-weight: 700;
  max-width: 150px;
  display: inline-block;
  padding: 10px;
}

.form__field {
  width: 100%;
  max-width: 250px;
  margin-top: 10px;
  padding: 10px;
}

.form__button {
  border-radius: 25px;
  border: 0px;
  color: white;
  background-color: green;
  padding: 15px;
  margin: 10px;
  font-weight: 700;
  font-size: 20px;
}

.form__important {
  font-weight: 700;
  color: red;
}
