.form {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.form__fieldset {
  border-radius: 25px;
  border: 3px solid green;
  padding: 10px;
  background-color: hsl(120, 100%, 95%);
}

.form__legend {
  border-radius: 25px;
  color: white;
  background-color: green;
  padding: 15px;
  font-weight: 700;
  font-size: 20px;
}

.form__label {
  width: 100%;
  font-weight: 700;
  max-width: 150px;
  display: inline-block;
  padding: 10px;
}

.form__field {
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  padding: 10px;
}

.form__button {
  border-radius: 25px;
  border: none;
  color: white;
  background-color: hsl(120, 100%, 25%);
  padding: 15px;
  margin: 10px;
  font-weight: 700;
  font-size: 20px;
  transition: background-color 0.8s, transform 0.5s;
}

.form__button:hover {
  background-color: hsl(120, 100%, 15%);
}

.form__button:active {
  transform: scale(0.95);
  background-color: hsl(120, 100%, 35%);
}

.form__important {
  font-weight: 700;
  color: red;
}
